.client-count-panel {
	// margin: .5rem .5rem .25rem .25rem;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	// background-color: #3a3a3a;
	// height: 500px;
	// width: 700px;
}