@import '../../App.scss';

.details-view-main {
	width: 100vw;
	height: 100vh;
	background-color: black;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	padding: 1rem;
	overflow: hidden;

	select {
		background-color: rgba(68, 68, 68, 0.87);
		border: none;
		color: white;
		width: 90%;

		&:focus {
			outline-color: $primary-accent;
		}
	}

	.details-view-header {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-start;

		.details-view-header-right-container {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;

			.alert-filter {
				width: auto;
				margin: 0 0 0 1rem;
			}
			
			input {
				padding: .5rem;
				width: 15rem;
				display: inline-block;
				border: 1px solid white;
				background-color: transparent;
				border-radius: 4px;
				color: white;
				font-size: .9rem;
				margin: 0 0 0 1rem;
				transition: border .25s;
	
				&:hover {
					// border: 1px solid $primary-accent;
				}
	
				&:focus {
					outline: none;
					border: 1px solid $primary-accent;
					transition: border .25s;
				}
			}

			p {
				margin: 0;
				transition: color .15s;

				&:hover {
					cursor: pointer;
					color: $primary-accent;
					transition: color .1s;
				}
			}
		}
	}

	.details-table {
		width: 100%;
		margin-top: 1rem;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		text-align: center;
		word-wrap: break-word;
		overflow: hidden;

		.details-table-header, .details-table-filter-row, .details-table-body, .order-detail-row {
			width: 100%;
		}

		.details-table-header, .details-table-filter-row, .order-detail-row {
			display: flex;
			flex-direction: row;
			justify-content: space-around;
			align-items: center;
		}

		.details-table-header {
         padding-bottom: .25rem;
			border-bottom: 1px solid white;

			p:hover {
				text-decoration: underline;
				cursor: pointer;
			}
		}

		.details-table-header > p, .details-table-filter-row > div, .details-table-filter-row > p, .order-detail-row > p, .order-detail-row > a {
			width: 12rem;
			margin: 0 .25rem;
			overflow: hidden;
		}


		.details-table-filter-row {
			div {
				font-size: .9rem;
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: center;
			}
		}

		.details-table-body {
			overflow: auto;

			.order-detail-row {
				height: auto;
				min-height: 3rem;
				margin-top: .25rem;
				border-bottom: 1px solid rgb(80, 80, 80);
				
				a {
					color: white;
					text-decoration: underline;

					&:hover {
						color: $primary-accent;
					}
				}

				.detail-expedited {
					color: crimson;
				}
			}
		}
	}

	.detail-approval-order, .detail-notes {
		width: 15rem !important;
	}

	.detail-client, .detail-expedited, .detail-status-age, .detail-carrier {
		width: 8rem !important;
	}
}

.detail-loader {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}