* {
   box-sizing: border-box;
   margin: 0;
}

.app {
   height: 100vh;
   width: 100vw;
   text-align: center;
   box-sizing: border-box;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-around;
   align-items: center;
   align-content: center;
   overflow: hidden;
   background-color: black;
}

.dashboard-panel {
   height: 50%;
   width: 50%;
   overflow: hidden;
   padding: 1rem;
   display: flex;
	flex-direction: column;
   justify-content: flex-start;
   align-items: center;

   .panel-header {
      color: white;
      font-size: 1.25rem;
      margin-bottom: .5rem;
   }
}

.chart-container {
   height: 85%;
   width: 100%;
}