$primary-accent: #02818A;

* {
   box-sizing: border-box;
   margin: 0;
}

.app {
   height: 100vh;
   width: 100vw;
   text-align: center;
   box-sizing: border-box;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-around;
   align-items: center;
   align-content: center;
   overflow: hidden;
   background-color: black;
   padding: 1rem;
}

.dashboard-panel {
   height: 50%;
   width: 50%;
   overflow: hidden;
   padding: 1rem;
   display: flex;
	flex-direction: column;
   justify-content: space-between;
   align-items: center;

   .panel-header {
      color: white;
      font-size: 1.25rem;
      margin-bottom: .5rem;
   }

   .chart-container {
      height: 85%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .no-alerts-container {
         height: 100%;
         width: 100%;
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;

         i {
            font-size: 8rem;
            color: #016C59;
            margin-bottom: 1rem;
         }

         p {
            font-size: 1.5rem;
            color: white;
         }
      }
   }

   .grid-loader-container {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }
}

.client-count-panel {
	div > div > div > svg > g > g:nth-child(4) > g > rect {
		&:hover {
			cursor: pointer;
		}
	}

	div > div > div > svg > g > g:nth-child(5) {
		* {
			opacity: 1;
		}
	}
}

.alert-panel {
   div > div > div > svg > g > g:nth-child(4) > g > rect {
      &:hover {
         cursor: pointer;
      }
   }
}

.status-day-count-panel {
	div > div > div > svg > g > g:nth-child(4) > g > rect {
		&:hover {
			cursor: pointer;
		}
	}
}

.approval-day-count-panel {
	div > div > div > svg > g > g:nth-child(4) > g > rect {
		&:hover {
			cursor: pointer;
		}
	}
}

.details-link {
   position: fixed;
   bottom: 0;
   right: 0;
   margin: 1rem;
   color: white;
   display: flex;
   flex-direction: row;
   justify-content: flex-end;
   align-items: center;

   p {
      margin: 0 0 0 .5rem;
      &:hover {
         text-decoration: underline;
      }
   }
}