.app {
   height: 100vh;
   width: 100vw;
   text-align: center;
   box-sizing: border-box;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-around;
   align-items: center;
   align-content: center;
   overflow: hidden;
   background-color: black;
}

.dashboard-panel {
   height: 49%;
   width: 49%;
}

.chart-container {
   height: 85%;
   width: 100%;
}